.my-hint, .my-balloon {
  position: relative;
  background-color: #fff;
  border-radius: 4px;

  .header {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #393E48;
    width: auto;
  }

  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #393E48;
  }
}

.my-balloon {
  padding: 10px;

  .header {
    position: relative !important;
    height: auto;
  }
}

.my-hint {
  border: 1px solid #CDB7B5;
  position: relative;
  font-size: 11px;
  min-width: 400px;
  line-height: 17px;
  color: black;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  min-height: 50px;
  width: auto;
  height: auto;
  padding: 15px 22px;
}
