@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 100;
  src: url('../../static/fonts/MuseoSansCyrl-100.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  src: url('../../static/fonts/MuseoSansCyrl-300.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 500;
  src: url('../../static/fonts/MuseoSansCyrl-500.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 700;
  src: url('../../static/fonts/MuseoSansCyrl-700.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 900;
  src: url('../../static/fonts/MuseoSansCyrl-900.otf');
  font-style: normal;
}

@font-face {
  font-family: Muller;
  src: url('../../static/fonts/MullerMedium.ttf');
  font-style: normal;
}


html, body {
  box-sizing: border-box;
  background: #FAFAFA;
  font-family: Museo Sans Cyrl;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container {
  padding-left: 74px;
  padding-right: 74px;
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 11;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 10;
    position: relative;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #317C9B 0%, rgba(23, 147, 152, 0.83) 100%);
    opacity: 0;
    transition: opacity .25s ease;
    z-index: 9;

    &.active {
      opacity: 1;
    }
  }

  &__logo {
    width: 118px;
    height: 29px;
  }

  &__favorites {
    font-size: 16px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.search {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  min-width: 240px;
  height: 56px;
  display: flex;
  z-index: 12;
  max-width: 820px;

  &__bar, &__options {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-right: 2px;
    position: relative;

    &__input {
      width: 100%;
      color: #393E48;
      font-size: 17px;
      line-height: 21px;
      border: none;
      outline: none;
    }

    &__left-search {
      border: none;
      background: none;
      min-width: 26px;
      width: 26px;
      height: 26px;
      padding: 0;
      margin-right: 16px;

      img {
        width: 100%;
        height: 100%;
      }

      &:focus {
        outline: none;
      }
    }

    &__right {
      &-search {
        margin-left: 16px;
      }

      &-cross {
        margin-left: 16px;
        border: none;
        background: none;
        padding: 0;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__options {
    @include flex-center;
    min-width: 56px;
    width: 56px;
    border: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  &__params {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 12;
    transition: height .5s ease;
    overflow: hidden;

    &__inner {
      width: 100%;
      height: 100%;
      padding: 25px;
    }

    select, input {
      outline: none;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      color: #393E48;
      margin-bottom: 20px;
    }

    &__apply {
      background: #FCAB2D;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 16px 62px;
      font-size: 14px;
      line-height: 130%;
      color: #FFFFFF;
      border: none;

      &:focus {
        outline: none;
      }

      &-area {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
      }
    }

    &__part {
      &__dropdowns {
        display: flex;
        width: 100%;

        &:first-of-type {
          margin-right: 24px;
        }

        &-area {
          display: flex;
          flex-direction: column;
        }

        &-row {
          margin-bottom: 24px;
          width: 100%;
          display: flex;
        }
      }

      &--dropdown {
        width: 100%;

        &:first-of-type {
          margin-right: 24px;
        }

        select {
          padding: 15px 20px;
          font-size: 14px;
          line-height: 120%;
          color: #73767D;
          border-radius: 6px;
          border: 1px solid #C4C4C4;
          width: 100%;
          min-width: 85px;
          appearance: none;
          background: url('../../static/pics/global/svg/dropdown.svg');
          background-repeat: no-repeat;
          background-position: calc(100% - 16px) calc(50% - 2px);
        }

        &--merged {
          display: flex;
          flex-wrap: nowrap;
          margin-right: 0 !important;

          select {
            &:first-of-type {
              border-radius: 6px 0 0 6px;
              border-right: none;
            }

            &:last-of-type {
              border-radius: 0 6px 6px 0;
              width: auto;
            }
          }
        }

        &--wider {
          min-width: 165px;
        }
      }

      &__checkboxes {
        display: flex;
        flex-wrap: wrap;

        &--first {
          margin-bottom: 12px;
        }
      }

      &--checkbox {
        width: 33.33%;
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        line-height: 120%;
        color: #242934;
        margin-bottom: 15px;
        padding-right: 16px;

        input {
          margin-right: 10px;
          appearance: none;
          min-width: 14px;
          min-height: 14px;
          border: 1px solid #C4C4C4;
          box-sizing: border-box;
          border-radius: 3px;

          &:checked {
            background: #FCAB2D;
            border: 1px solid #FCAB2D;
            padding: 0;
            position: relative;

            &:after {
              position: absolute;
              top: 0;
              left: 0;
              content: '';
              background: url('../../static/pics/global/svg/check.svg');
              background-size: 10px;
              width: 12px;
              height: 12px;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
  z-index: 10;

  &__logo {
    width: 118px;
    height: 29px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #393E48;
    padding-top: 50px;
    padding-bottom: 30px;

    &__right {
      margin-top: 10px;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #c4c4c4;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #4A4A4A;
    padding-top: 30px;
    padding-bottom: 30px;

    &__text {
      opacity: 0.5;
    }

    &__link {
      transition: opacity .5s ease;

      &:hover {
        opacity: 1;
      }
    }

    a {
      text-decoration: none;
      color: #4A4A4A;
    }
  }

  &__part {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;

    &:first-of-type {
      max-width: 330px;
    }

    &:last-of-type {
      max-width: 200px;
    }

    h4 {
      font-size: 14px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 25px;
    }

    a {
      text-decoration: none;
      color: #393E48 !important;
      margin-bottom: 25px;
      font-weight: 300;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__social {
      width: 30px;
      height: 30px;
      border: 1px solid rgba(34, 133, 150, .5);
      margin-right: 10px;
      border-radius: 50%;
      transition: border .5s ease;
      margin-bottom: 0 !important;
      @include flex-center;

      &:hover {
        border: 1px solid rgba(34, 133, 150, 1);
      }

      &:last-of-type {
        margin-right: 0;
      }

      &-links {
        display: flex;
      }
    }
  }
}

.main-page {
  width: 100%;

  @mixin see-all {
    text-decoration: none;
    color: #FCAB2D;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    display: flex;
    align-items: center;
  }

  &__welcome {
    width: 100%;
    height: 70vh;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 2;

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 0;
      object-fit: cover;
    }

    &__gradient {
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
      height: 76vh;
      background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 100%);
      z-index: 1;
    }

    &__pretitle {
      color: #FCAB2D;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      font-family: Muller;
      margin-bottom: 10px;
    }

    &__title {
      color: white;
      font-size: 64px;
      font-weight: 900;
      line-height: 100%;
      margin-bottom: 40px;
    }

    &__search {
      position: sticky;
      transform: none;
      margin: 0 auto;
      left: 0;
      top: 17px;
      margin-top: -21vh;
      margin-bottom: 12vh;
      z-index: 12;
    }
  }

  &__beach-slider-area {
    position: relative;
    margin-bottom: 60px;
    z-index: 2;
  }

  &__family-rest {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
  }

  &__beach-events {
    margin-bottom: 40px;

    &__title {
      &-area {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        a {
          @include see-all;
        }
      }
    }
  }

  &__choose-beach {
    margin-bottom: 60px;

    &__card {
      width: 100%;
      margin-right: 25px;
      display: flex;
      align-items: center;
      background: white;
      padding: 25px 30px;
      box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
      border-radius: 12px;

      &:last-of-type {
        margin-right: 0;
      }

      &s {
        display: flex;

        img {
          margin-right: 10px;
        }

        a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 900;
          line-height: 120%;
          color: #393E48;
        }
      }
    }
  }

  &__map {
    width: 100%;
    height: fit-content;
    position: relative;

    &__img {
      margin-left: -91px;
      width: 100vw;
    }
  }

  &__section {
    &-title {
      font-size: 24px;
      font-weight: 900;
      line-height: 29px;
      color: #393E48;
      opacity: 0.9;
      margin-bottom: 30px;
    }

    &-subtitle {
      color: #73767D;
      font-size: 16px;
      font-weight: 300;
      line-height: 140%;

      &-area {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        a {
          @include see-all;
        }
      }
    }
  }

  &__card {
    width: 100%;
    border-radius: 12px;
    position: relative;
    display: flex;

    a {
      text-decoration: none;
      width: fit-content;
    }

    &__info-area {
      &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 110%;
        color: #393E48;
        margin-bottom: 24px;
      }

      &__text {
        font-size: 16px;
        line-height: 140%;
        color: #73767D;
        margin-bottom: 35px;
      }

      &__button {
        border: none;
        background: #FCAB2D;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 14px 34px;
        @include flex-center;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          color: #FFFFFF;
          margin-right: 4px;
        }
      }
    }
  }

  &__bef {
    padding-top: 110px;
    padding-bottom: 110px;

    &__card {
      &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px 0 0 12px;

        &-area {
          position: relative;
          max-width: 60%;
          width: 100%;

          &__pretitle {
            position: absolute;
            top: -5px;
            right: 0;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 500;
            line-height: 130%;
            color: #393E48;
            margin-right: 5px;
          }

          &__title {
            font-size: 48px;
            font-weight: 900;
            line-height: 110%;
            color: #FFFFFF;
            margin-bottom: 0;

            &-area {
              position: absolute;
              top: 50px;
              right: 50px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            }
          }

          &__icon {
            margin-bottom: 10px;

            &-area {
              @include flex-center;
              width: 100%;
              padding: 0 50px;
              position: absolute;
              left: 0;
              bottom: 30px;
            }

            &-wrapper {
              display: flex;
              flex-direction: column;
              margin-right: 45px;

              &:last-of-type {
                margin-right: 0;
              }

              span {
                font-size: 12px;
                line-height: 130%;
                color: #FFFFFF;
                text-align: center;
              }
            }
          }
        }
      }

      &__info-area {
        max-width: 40%;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        padding: 50px;
        border-radius: 0 12px 12px 0;
      }
    }
  }

  &__ocnp {
    padding-top: 70px;
    padding-bottom: 60px;

    &__card {
      &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 12px 12px 0;

        &-area {
          min-width: 65%;
          width: 100%;
        }
      }

      &__info-area {
        padding: 50px 40px;
        background: white;
        min-width: 35%;
        width: 100%;
        border-radius: 12px 0 0 12px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__beach-type {
    margin-bottom: 125px;

    &__card {
      position: relative;
      width: 100%;
      height: 360px;
      border-radius: 12px;

      a {
        text-decoration: none;
        color: white;
      }

      &:first-of-type {
        margin-right: 24px;
      }

      &-area {
        display: flex;
      }

      &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        top: 0;
        left: 0;
      }

      &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 20px;
      }

      &__text {
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
        font-weight: 500;

        &-area {
          position: absolute;
          top: 40px;
          left: 40px;
        }
      }

      &__beach {
        &-number {
          margin-right: 4px;

          &-area {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 30px;
            left: 40px;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.06em;

            img {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }

  &__ynt {
    margin-bottom: 60px;

    &__pic {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 12px 0 0 12px;

      &-area {
        width: 100%;
        max-width: 65%;
      }
    }

    &__info-area {
      padding: 40px 50px;
      background: #228596;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 0 12px 12px 0;
      max-width: 35%;
      width: 100%;

      &__title {
        &--white {
          color: white;
        }

        &--orange {
          color: #FCAB2D;
        }
      }

      &__text {
        &--white {
          color: white;
        }
      }
    }
  }

  &__weather-slider-area {
    padding-top: 60px;
    padding-bottom: 60px;
    background: white;
  }

  &__dynamic-slider-area {
    margin-bottom: 70px;
  }
}

.slider {
  &__slide {
    &__link {
      text-decoration: none !important;
    }
  }

  &__arrow {
    &-left, &-right {
      position: absolute;
      top: 0;
      border: none;
      padding: 0;
      background: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      z-index: 10;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

      &:focus {
        outline: none;
      }
    }

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }

  &-beh {
    position: relative;

    &__slide {
      min-height: 145px;

      &__pic {
        width: 100%;
        border-radius: 12px;

        &-area {
          position: relative;
          margin-bottom: 15px;
          border-radius: 12px;
        }
      }

      &__price {
        margin-top: 5px;
        font-size: 14px !important;
        font-weight: 700;
        line-height: 17px;
        color: #115C91 !important;
      }

      &__rating-area, &__date-area {
        font-weight: 500;
        color: #73767D;
        display: flex;
        align-items: center;
        margin-bottom: 5px;        
      }

      &__rating-area {
        font-size: 14px;
        line-height: 120%;

        img {
          margin-right: 3px;
        }
      }

      &__date-area {
        font-size: 16px;
        line-height: 19px;

        img {
          margin-right: 6px;
        }
      }

      &__title {
        font-weight: 700;
        line-height: 120%;
        color: #393E48 !important;
        margin-bottom: 7px;
        display: block;
      }

      &__beach {
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 8px;
        display: block;
      }

      &__info {
        &-area {
          a {
            text-decoration: none;
            color: #228596;
          }
        }
      }

      &__location {
        line-height: 14px;
        text-transform: uppercase;
        color: #73767D;
        margin-bottom: 0;
      }

      &__temp {
        color: #FCAB2D;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-right: 1px;

        &-area {
          display: flex;
          align-items: center;
          position: absolute;
          top: 12px;
          left: 12px;
          background: white;
          padding: 6px 12px;
          border-radius: 30px;

          img {
            margin-right: 5px;
          }
        }

        &-o {
          font-weight: 500;
          font-size: 10px;
          color: #73767D;
          position: relative;
          width: 7px;

          span {
            position: absolute;
            top: -12px;
          }
        }

        &-C {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #73767D;
        }
      }

      &__heart {
        width: 100%;
        height: 100%;

        &-button {
          position: absolute;
          top: 12px;
          right: 12px;
          border: none;
          background: none;
          width: 30px;
          height: 30px;
          padding: 0;

          &:focus {
            outline: none;
          }
        }
      }

      &__expensive {
        position: absolute;
        bottom: 12px;
        left: 12px;
      }
    }
  }

  &-cities {
    position: relative;
    margin-bottom: 40px;

    .swiper-container {
      padding-right: 20px;
      margin-right: -20px;
    }

    &__slide {
      box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.06);
      margin-bottom: 20px;
      border-radius: 12px;
      min-height: 80px;

      &__pic {
        width: 100%;

        &-area {
          position: relative;
        }
      }

      &__title {
        position: absolute;
        top: 10px;
        left: 25px;
        color: #FFFFFF;
        opacity: 0.9;
        font-size: 16px;
        line-height: 19px;
      }

      &__info-area {
        padding: 10px 25px;
        background: white;
        border-radius: 0 0 12px 12px;
      }

      &__beach {
        font-size: 14px;
        line-height: 100%;
        text-align: right;
        letter-spacing: 0.01em;
        text-transform: lowercase;
        color: #4C515A;

        &-number {
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
          color: #FCAB2D;
          margin-right: 4px;
        }
      }
    }
  }

  &-weather {
    position: relative;

    .swiper-container {
      padding-right: 10px;
      padding-left: 10px;
      margin-right: -10px;
      margin-left: -10px;
    }

    &__month {
      @include flex-center;
      background: none;
      border: none;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #73767D;
      margin-right: 25px;

      &:last-of-type {
        margin-right: 0;
      }

      &:focus {
        outline: none;
      }

      &.active {
        background: #FCAB2D;
        color: white;
        border-radius: 33px;
        padding: 5px 25px;
      }

      &s {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
      }
    }

    &__slide {
      &__title {
        margin-bottom: 55px;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.9;
      }

      &__temp {
        &-number {
          color: #FCAB2D;
          margin-right: 1px;
        }

        &-o {
          font-weight: 500;
          font-size: 10px;
          position: relative;
          width: 7px;

          span {
            position: absolute;
            top: -12px;
          }
        }

        &-number, &-C {
          font-size: 24px;
          line-height: 29px;
        }

        &-number, &-C {
          font-weight: 700;
        }

        &-o, &-C {
          color: #73767D;
        }
      }

      &__pic {
        margin-bottom: 10px;

        &-area {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    &__part {
      &s {
        display: flex;
        width: 100%;
        position: relative;
      }

      &__temperature-text {
        font-size: 12px;
        line-height: 14px;
        color: #4A4A4A;

        img {
          margin-right: 10px;
        }
      }

      &__info {
        height: 40px;
        @include flex-center;

        &:first-of-type {
          margin-bottom: 40px;
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 50px;
        min-width: 140px;
        width: 15%;
      }

      &-right {
        position: relative;
        width: 85%;
      }
    }
  }

  &-dynamic {
    margin-top: 20px;
    position: relative;

    &__slide {
      position: relative;
      height: 340px !important;
      border-radius: 12px;
      transition: width .5s ease !important;

      a {
        text-decoration: none;
      }

      &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }

      &__title {
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 36px;
        font-weight: 900;
        color: #FFFFFF;
      }

      &__beach {
        font-size: 14px;
        letter-spacing: 0.01em;
        text-transform: lowercase;
        color: #FFFFFF;

        &-number {
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
          color: #FCAB2D;
          margin-right: 4px;

          &-area {
            position: absolute;
            bottom: 25px;
            left: 30px;
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }
  }
}

.overlay-map {
  &__marker {
    width: 49px;
    height: 49px;
    background: #FCAB2D;
    border-radius: 50%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}

.gmnoprint:last-of-type {
  position: relative;

  button {
    background: #FFFFFF !important;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1) !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    width: 49px !important;
    height: 49px !important;
    border-radius: 50%;
    margin-top: 10px !important;
  }

  div {
    background-color: transparent !important;
    box-shadow: none !important;
    top: -52px !important;
    left: -30px !important;
  }
}

// slider-weather's months part starts breaking at 1320, so changing it to a slider
@media (max-width: 1320px) {
  .main-page {
    &__weather-slider-area {
      overflow: hidden;
    }
  }

  .slider {
    &-weather {
      &__month {
        &s {
          .swiper-container {
            overflow: visible;
            width: 100%;
          }

          .swiper-slide {
            @include flex-center;
            max-width: 80px;
            min-width: 80px;
          }
        }
        
        &.active {
          padding: 5px 13px;
        }
      }
    }
  }
}

// after 1300px search parameters start to break, so changing it to the tablet view + slider-weather's main slider is too big
@media (max-width: 1301px) {
  .search {
    &__params {
      &__part {
        &__dropdowns {
          margin-bottom: 20px;

          &-area {
            margin-bottom: 20px;
          }

          &-row {
            flex-direction: column;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .slider {
    &-weather {
      &__part {
        &-right {
          width: 80%;
        }
      }
    }
  }
}

// after 1230px, beh is fucking up, so making it smaller just like in the TABLET version
@media (max-width: 1230px) {
  .slider {
    &-beh {
      &__slide {
        &__title {
          font-size: 16px !important;
        }

        &__heart, &__expensive {
          width: 22px;
          height: 22px;
        }

        &__heart-button {
          width: 22px;
          height: 22px;
          margin-top: -2px;
        }

        &__location {
          font-size: 10px !important;
          line-height: 12px !important;
        }

        &__beach, &__date-area {
          font-size: 14px;
        }

        &__temp {
          font-size: 14px;

          &-o {
            font-size: 8px;
          }

          &-C {
            font-size: 14px;
          }

          &-area {
            height: 22px;
            padding: 6px 10px;

            img {
              transform: scale(.8);
              margin-right: 2px;
            }
          }
        }
      }
    }
  }

  .main-page {
    &__card {
      &__info {
        &-area {
          &__title {
            font-size: 24px;
          }

          &__text {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// after 1200px BeachEntranceFree gets broken, so making it just like in the TABLET version
@media (max-width: 1200px) {
  .main-page {
    &__bef {
      &__card {
        &__pic {
          &-area {
            &__icon {
              &-wrapper {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

// at 1150px slider beh breaks, so making it just like in the TABLET version
@media (max-width: 1150px) {
  .slider {
    &-beh, &-cities {
      .swiper-container {
        overflow: visible;
      }
    }

    &-cities {
      &__slide {
        &__info-area {
          white-space: nowrap;
        }
      }
    }
  }

  .main-page {
    &__beach-slider-area, &__beach-events, &__cities {
      overflow: hidden;
    }
  }

  .footer__bottom {
    .footer__part {
      padding-right: 10px;
    }
  }
}

// after 1050px SLIDER-WEATHER again starts to break, this time its main slider part, so change it to the TABLET version
@media (max-width: 1050px) {
  .slider {
    &-weather {
      .swiper-container {
        overflow: visible;
      }

      .slider {
        &__arrow {
          &-left {
            left: 25px;
          }

          &-right {
            right: auto;
            left: 45px;
          }
        }
      }

      &__slide {
        max-width: 110px;
      }

      &__part {
        &-left {
          width: 140px;
          margin: 0;
          background: white;
          position: relative;
          z-index: 3;

          &__cover {
            background: white;
            width: 100%;
            height: 100%;
            margin-left: -74px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }
        }

        &-right {
          width: 100%;
          margin-left: -140px;
          padding-left: 145px;
        }
      }
    }

    &-cities {
      &__slide {
        &__info-area {
          padding: 4px 12px;
        }
      }
    }
  }
}

// lower than 1000, we get smaller container paddings, small stuff, and making the cities look just like in the TABLET version
@media (max-width: 1000px) {
  .custom-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .slider {
    &-dynamic {
      &__slide {
        &:last-of-type {
          display: none;
        }

        &__title {
          font-size: 20px;
        }
      }
    }
  }

  .main-page {
    &__section {
      &__subtitle-area {
        &__see-all {
          white-space: nowrap;
          padding-left: 10px;
        }
      }
    }
  }
}
