@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 100;
  src: url('../../static/fonts/MuseoSansCyrl-100.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  src: url('../../static/fonts/MuseoSansCyrl-300.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 500;
  src: url('../../static/fonts/MuseoSansCyrl-500.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 700;
  src: url('../../static/fonts/MuseoSansCyrl-700.otf');
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-weight: 900;
  src: url('../../static/fonts/MuseoSansCyrl-900.otf');
  font-style: normal;
}

@font-face {
  font-family: Muller;
  src: url('../../static/fonts/MullerMedium.ttf');
  font-style: normal;
}


html, body {
  box-sizing: border-box;
  background: #FAFAFA;
  font-family: Museo Sans Cyrl;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container {
  padding-left: 74px;
  padding-right: 74px;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 11;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 10;
    position: relative;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #317C9B 0%, rgba(23, 147, 152, 0.83) 100%);
    opacity: 0;
    transition: opacity .25s ease;
    z-index: 9;

    &.active {
      opacity: 1;
    }
  }

  &__logo {
    width: 118px;
    height: 29px;
  }

  &__favorites {
    font-size: 16px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.search {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  min-width: 240px;
  height: 56px;
  display: flex;
  z-index: 12;

  &__bar, &__options {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-right: 2px;

    &__input {
      width: 100%;
      color: #393E48;
      font-size: 17px;
      line-height: 21px;
      border: none;
      outline: none;
    }

    &__left-search {
      border: none;
      background: none;
      min-width: 26px;
      width: 26px;
      height: 26px;
      padding: 0;
      margin-right: 16px;

      img {
        width: 100%;
        height: 100%;
      }

      &:focus {
        outline: none;
      }
    }

    &__right {
      &-search {
        margin-left: 16px;
      }

      &-cross {
        margin-left: 16px;
        border: none;
        background: none;
        padding: 0;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__options {
    @include flex-center;
    min-width: 56px;
    width: 56px;
    border: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
  z-index: 10;

  &__logo {
    width: 118px;
    height: 29px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #393E48;
    padding-top: 50px;
    padding-bottom: 30px;

    &__right {
      margin-top: 10px;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #c4c4c4;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #4A4A4A;
    padding-top: 30px;
    padding-bottom: 30px;

    &__text {
      opacity: 0.5;
    }

    &__link {
      transition: opacity .5s ease;

      &:hover {
        opacity: 1;
      }
    }

    a {
      text-decoration: none;
      color: #4A4A4A;
    }
  }

  &__part {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;

    &:first-of-type {
      max-width: 330px;
    }

    &:last-of-type {
      max-width: 200px;
    }

    h4 {
      font-size: 14px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 25px;
    }

    a {
      text-decoration: none;
      color: #393E48 !important;
      margin-bottom: 25px;
      font-weight: 300;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__social {
      width: 30px;
      height: 30px;
      border: 1px solid rgba(34, 133, 150, .5);
      margin-right: 10px;
      border-radius: 50%;
      transition: border .5s ease;
      margin-bottom: 0 !important;
      @include flex-center;

      &:hover {
        border: 1px solid rgba(34, 133, 150, 1);
      }

      &:last-of-type {
        margin-right: 0;
      }

      &-links {
        display: flex;
      }
    }
  }
}

.main-page {
  @mixin see-all {
    text-decoration: none;
    color: #FCAB2D;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    display: flex;
    align-items: center;
  }

  &__welcome {
    width: 100%;
    height: 70vh;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 2;

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 0;
    }

    &__gradient {
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
      height: 76vh;
      background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 100%);
      z-index: 1;
    }

    &__pretitle {
      color: #FCAB2D;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      font-family: Muller;
      margin-bottom: 10px;
    }

    &__title {
      color: white;
      font-size: 64px;
      font-weight: 900;
      line-height: 100%;
      margin-bottom: 40px;
    }

    &__search {
      position: sticky;
      transform: none;
      margin: 0 auto;
      left: 0;
      top: 17px;
      margin-top: -21vh;
      margin-bottom: 12vh;
      z-index: 12;
    }
  }

  &__beach-slider-area {
    position: relative;
    margin-bottom: 60px;
    z-index: 2;
  }

  &__family-rest {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
  }

  &__beach-events {
    margin-bottom: 40px;

    &__title {
      &-area {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        a {
          @include see-all;
        }
      }
    }
  }

  &__choose-beach {
    margin-bottom: 60px;

    &__card {
      width: 100%;
      margin-right: 25px;
      display: flex;
      align-items: center;
      background: white;
      padding: 25px 30px;
      box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
      border-radius: 12px;

      &:last-of-type {
        margin-right: 0;
      }

      &s {
        display: flex;

        img {
          margin-right: 10px;
        }

        a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 900;
          line-height: 120%;
          color: #393E48;
        }
      }
    }
  }

  &__map {
    width: 100%;
    height: fit-content;
    position: relative;

    &__img {
      margin-left: -91px;
      width: 100vw;
    }
  }

  &__section {
    &-title {
      font-size: 24px;
      font-weight: 900;
      line-height: 29px;
      color: #393E48;
      opacity: 0.9;
      margin-bottom: 30px;
    }

    &-subtitle {
      color: #73767D;
      font-size: 16px;
      font-weight: 300;
      line-height: 140%;

      &-area {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        a {
          @include see-all;
        }
      }
    }
  }

  &__card {
    width: 100%;
    border-radius: 12px;
    position: relative;
    display: flex;

    a {
      text-decoration: none;
      width: fit-content;
    }

    &__info-area {
      &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 110%;
        color: #393E48;
        margin-bottom: 24px;
      }

      &__text {
        font-size: 16px;
        line-height: 140%;
        color: #73767D;
        margin-bottom: 35px;
      }

      &__button {
        border: none;
        background: #FCAB2D;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 14px 34px;
        @include flex-center;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          color: #FFFFFF;
          margin-right: 4px;
        }
      }
    }
  }

  &__bef {
    padding-top: 110px;
    padding-bottom: 110px;

    &__card {
      &__pic {
        width: 100%;
        height: 390px;
        object-fit: cover;
        border-radius: 12px 0 0 12px;

        &-area {
          position: relative;
          max-width: 60%;
          width: 100%;

          &__pretitle {
            position: absolute;
            top: -5px;
            right: 0;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 500;
            line-height: 130%;
            color: #393E48;
            margin-right: 5px;
          }

          &__title {
            font-size: 48px;
            font-weight: 900;
            line-height: 110%;
            color: #FFFFFF;
            margin-bottom: 0;

            &-area {
              position: absolute;
              top: 50px;
              right: 50px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            }
          }

          &__icon {
            margin-bottom: 10px;

            &-area {
              @include flex-center;
              width: 100%;
              padding: 0 50px;
              position: absolute;
              left: 0;
              bottom: 30px;
            }

            &-wrapper {
              display: flex;
              flex-direction: column;
              margin-right: 45px;

              &:last-of-type {
                margin-right: 0;
              }

              span {
                font-size: 12px;
                line-height: 130%;
                color: #FFFFFF;
                text-align: center;
              }
            }
          }
        }
      }

      &__info-area {
        max-width: 40%;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        padding: 50px;
        border-radius: 0 12px 12px 0;
      }
    }
  }

  &__ocnp {
    padding-top: 70px;
    padding-bottom: 60px;

    &__card {
      &__pic {
        width: 100%;
        object-fit: cover;
        border-radius: 0 12px 12px 0;

        &-area {
          min-width: 65%;
          width: 100%;
        }
      }

      &__info-area {
        padding: 50px 40px;
        background: white;
        min-width: 35%;
        width: 100%;
        border-radius: 12px 0 0 12px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__beach-type {
    margin-bottom: 125px;

    &__card {
      position: relative;
      width: 100%;
      height: 360px;
      border-radius: 12px;

      a {
        text-decoration: none;
        color: white;
      }

      &:first-of-type {
        margin-right: 24px;
      }

      &-area {
        display: flex;
      }

      &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        top: 0;
        left: 0;
      }

      &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 20px;
      }

      &__text {
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
        font-weight: 500;

        &-area {
          position: absolute;
          top: 40px;
          left: 40px;
        }
      }

      &__beach {
        &-number {
          margin-right: 4px;

          &-area {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 30px;
            left: 40px;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.06em;

            img {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }

  &__ynt {
    margin-bottom: 60px;

    &__pic {
      object-fit: cover;
      width: 100%;
      height: 100%;

      &-area {
        width: 100%;
        max-width: 65%;
      }
    }

    &__info-area {
      padding: 40px 50px;
      background: #228596;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 0 12px 12px 0;
      max-width: 35%;
      width: 100%;

      &__title {
        &--white {
          color: white;
        }

        &--orange {
          color: #FCAB2D;
        }
      }

      &__text {
        &--white {
          color: white;
        }
      }
    }
  }
}

.slider {
  &__slide {
    &__link {
      text-decoration: none !important;
    }
  }

  &__arrow {
    &-left, &-right {
      position: absolute;
      top: 0;
      border: none;
      padding: 0;
      background: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      z-index: 10;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

      &:focus {
        outline: none;
      }
    }

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }

  &-beh {
    position: relative;

    &__slide {
      &__pic {
        width: 100%;
        border-radius: 12px;

        &-area {
          position: relative;
          margin-bottom: 15px;
          border-radius: 12px;
        }
      }

      &__price {
        margin-top: 5px;
        font-size: 14px !important;
        font-weight: 700;
        line-height: 17px;
        color: #115C91 !important;
      }

      &__rating-area, &__date-area {
        font-weight: 500;
        color: #73767D;
        display: flex;
        align-items: center;
        margin-bottom: 5px;        
      }

      &__rating-area {
        font-size: 14px;
        line-height: 120%;

        img {
          margin-right: 3px;
        }
      }

      &__date-area {
        font-size: 16px;
        line-height: 19px;

        img {
          margin-right: 6px;
        }
      }

      &__title {
        font-weight: 700;
        line-height: 120%;
        color: #393E48;
        margin-bottom: 7px;
      }

      &__beach {
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 8px;
        display: block;
      }

      &__info {
        &-area {
          a {
            text-decoration: none;
            color: #228596;
          }
        }
      }

      &__location {
        line-height: 14px;
        text-transform: uppercase;
        color: #73767D;
        margin-bottom: 0;
      }

      &__temp {
        color: #FCAB2D;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-right: 1px;

        &-area {
          display: flex;
          align-items: center;
          position: absolute;
          top: 12px;
          left: 12px;
          background: white;
          padding: 6px 12px;
          border-radius: 30px;

          img {
            margin-right: 5px;
          }
        }

        &-o {
          font-weight: 500;
          font-size: 10px;
          color: #73767D;
          position: relative;
          width: 7px;

          span {
            position: absolute;
            top: -12px;
          }
        }

        &-C {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #73767D;
        }
      }

      &__heart {
        width: 100%;
        height: 100%;

        &-button {
          position: absolute;
          top: 12px;
          right: 12px;
          border: none;
          background: none;
          width: 30px;
          height: 30px;
          padding: 0;
        }
      }

      &__expensive {
        position: absolute;
        bottom: 12px;
        left: 12px;
      }
    }
  }

  &-cities {
    position: relative;
    margin-bottom: 40px;

    .swiper-container {
      padding-right: 20px;
      margin-right: -20px;
    }

    &__slide {
      box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.06);
      margin-bottom: 20px;
      border-radius: 12px;

      &__pic {
        width: 100%;

        &-area {
          position: relative;
        }
      }

      &__title {
        position: absolute;
        top: 10px;
        left: 25px;
        color: #FFFFFF;
        opacity: 0.9;
        font-size: 16px;
        line-height: 19px;
      }

      &__info-area {
        padding: 10px 25px;
        background: white;
        border-radius: 0 0 12px 12px;
      }

      &__beach {
        font-size: 14px;
        line-height: 100%;
        text-align: right;
        letter-spacing: 0.01em;
        text-transform: lowercase;
        color: #4C515A;

        &-number {
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
          color: #FCAB2D;
          margin-right: 4px;
        }
      }
    }
  }
}

.overlay-map {
  &__marker {
    width: 49px;
    height: 49px;
    background: #FCAB2D;
    border-radius: 50%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}

.gmnoprint:last-of-type {
  position: relative;

  button {
    background: #FFFFFF !important;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1) !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    width: 49px !important;
    height: 49px !important;
    border-radius: 50%;
    margin-top: 10px !important;
  }

  div {
    background-color: transparent !important;
    box-shadow: none !important;
    top: -52px !important;
    left: -30px !important;
  }
}
