$main_span_btn_color: #228596;
$classic-span-font-size: 16px;
.span-color-overload {
  color: $main_span_btn_color !important;
}

.span-16-px {
  font-size: $classic-span-font-size !important;
}

.m-side-opinion {
  margin-left: 35px;
  margin-right: 35px;
}

.m-t-35 {
  margin-top: 35px;
}

.pointer-events-none {
  pointer-events: none;
}

.play-back {

}
.my-flex{
  display: flex;
}
.main-beach-h2-helper{
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  line-height: 120%;
  color: #393e48;
}
.cursor-pointer{
  cursor: pointer;
}

.opacity-1 {
  opacity: 1 !important;
}
